{% extends 'main/base.html'%}
{% block title %}Grades{% endblock %}
{% block main %}
<div>
    <div style="display: flex; flex-direction: row; justify-content: flex-start; padding-top: 30px;">
        <h2>5 класс</h2>
    </div>
<!-- {% if articles %}

        {% for el in articles %}
            {% if el.article_type == "5" %}
                <div class = "alert alert-warning mt-2">
                    <h3>{{el.title}}</h3>
                    <p>{{el.task}}</p>
                </div>
{% endif %}
        {% endfor %} -->
        <div class = "alert alert-warning mt-2">
            <h3>Натуральные числа. Ряд натуральных чисел. Цифры.</h3>
            <p>Сколько дней осталась до начала каникул? Сколько уроков у тебя в среду? А сколько книг нужно было прочитать за лето? Чтобы ответить на эти вопросы, достаточно всего лишь… уметь считать!</p>
            <div style="border-color: #c9640b; border-style: double; padding: 5px; text-align: center;">Числа, которые мы используем при подсчете предметов, называются <b>натуральными числами</b>. 5 книг, 100 рублей, 7 уроков в четверг - это и есть натуральные числа.</div>
            <p><b>Ряд натуральных чисел (натуральный ряд)</b> - это все натуральные числа, записанные в порядке возрастания. Получается первое число такого ряда - 1, второе - 2, третье - число 3 и так до бесконечности!</p>
            <div style="border-color: #c9640b; border-style: double; padding: 5px; text-align: center;">
                <p>Наименьшее натуральное число - 1, так как 0 - не натуральное число, мы не используем его при счете.</p>
                <p>Наибольшего натурального числа не существует, натуральный ряд продолжается до бесконечности.</p>
            </div>
            <p>Дома строят из кирпичей, слова из букв, а из чего же строят числа?</p>
            <div style="border-color: #c9640b; border-style: double; padding: 5px; text-align: center;">
                Натуральные числа составляют из цифр. Всего этих цифр десять: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9.
            </div>
            <p>Числа, записанные одной цифрой, называют однозначными, двумя - двузначными, тремя - трехзначными и так далее. При этом все числа, кроме однозначных, еще называются многозначными. 
                <b>Важно помнить, что многозначное число может начинаться с любой цифры, кроме цифры 0!</b></p>
        </div>
        <div class = "alert alert-warning mt-2">
            <h3>Сравнение натуральных чисел</h3>
            <p>Сравнить два различных натуральных числа - это значит определить, какое из них больше, а какое - меньше. А сделать это можно с помощью натурального ряда.</p>
            <div style="border-color: #c9640b; border-style: double; padding: 5px; text-align: center;">
            Из двух натуральных чисел <b>бóльшим</b> является то, которое в ряду натуральных чисел <b>стоит позже</b>, а <b>меньшим</b> - то, которое стоит <b>раньше</b>. 
            </div>
            <p>
                <br>Поэтому, например, число 5 меньше числа 7, а число 235 больше числа 199.<br><br>
                Результаты сравнения записывают с помощью знаков &lt; (меньше) и &gt; (больше):
                5 &lt; 7,  235 &gt; 199. Такие записи называются <b>неравенствами</b>.  
            </p>
        </div>
    <!-- {% else %}
        <p>У вас нет статей</p>
    {% endif %} -->
    <p>{% block grade %}{% endblock %}</p>
</div>
{% endblock %}