{% extends 'main/base.html'%}
{% block title %}Grades{% endblock %}
{% block main %}
<div>
    <div style="display: flex; flex-direction: row; justify-content: flex-start; padding-top: 30px;">
        <h2>6 класс</h2>
    </div>
<!-- {% if articles %}

        {% for el in articles %}
            {% if el.article_type == "6" %}
                <div class = "alert alert-warning mt-2">
                    <h3>{{el.title}}</h3>
                    <p>{{el.task}}</p>
                </div>
{% endif %}
        {% endfor %} -->
        <div class = "alert alert-warning mt-2">
            <h3>Делители и кратные</h3>
            <p>Предположим, у нас с вами есть 6 яблок, и мы хотим разделить их поровну между двумя нашими друзьями. Мы можем это сделать - каждый получит по три яблока. А между тремя? Тогда каждый получит по 2 яблока. А между четырьмя друзьями? Можно ли разделить поровну, в том смысле, чтобы каждый получил целое количество яблок? Нельзя! Шесть на четыре нацело не делится. Между пятью  тоже нельзя.<br><br>
            Всё просто. Шесть делится нацело на 1, 2, 3 и 6. Эти числа 1236 называются делителями числа 6. Они его делят нацело, а число 6, в свою очередь, делится на них нацело и называется кратным этим числам. Число 6 кратно одному, кратно двум, кратно трём и кратно 6.<br><br>
            Нетрудно заметить, что у любого натурального числа есть хотя бы как минимум два делителя - это единица и само это число, кроме единицы, потому что единица делится нацело только на единицу.<br><br>
            <b>Делителем</b> натурального числа А называется натуральное число, на которое А делится нацело.<br><br>
            <b>Кратным</b> числу А называется натуральное число, которое делится на А нацело.
        </p>
        </div>
        <div class = "alert alert-warning mt-2">
            <h3>Наименьшее общее кратное и наибольший общий делитель (НОК и НОД)</h3>
            <p>Для того чтобы усвоить данную тему, следует хорошо разобраться в том, как раскладывать число на простые множители.<br>
                <b>Наибольшим общим делителем (НОД)</b> называют наибольшее число, на которое делится каждое из данных чисел.</p>
            <ol><u>Как найти НОД двух чисел?</u><br>
                <li>Разложите два числа на простые множители.</li>
                <li>Найдите произведение общих делителей этих чисел.</li>
            </ol>
            <p><b>Наименьшим общим кратным (НОК)</b> называется наименьшее число, которое делится на каждое из этих чисел.<br></p>
            <ol><u>Как найти НОК двух чисел?</u><br>
                <li>Разложите два числа на простые множители.</li>
                <li>Запишите разложение одного из этих чисел.</li>
                <li>Дописать в это разложение те множители другого разложения, которые еще не вошли в данное разложение, и вычислить произведение всех получившихся чисел.</li>
            </ol>
        </div>
        <div class = "alert alert-warning mt-2">
            <h3>Признаки делимости</h3>
            <p>Какие бывают признаки делимости натуральных чисел? Как по внешнему виду определить, на что можно разделить это число? Это и есть признаки делимости натуральных чисел.<br></p>
            <ul>
                <li><b>Признак делимости на 2.</b> На 2 делится любое натуральное число, запись которых заканчивается на 0, 2, 4, 6.
                Например, очень большое число 120345876568 точно делится на два, так как его запись оканчивается цифрой 8.</li>
                <li><b>Признак делимости на 3.</b> Если сумма цифр любого натурального числа делится на 3, то и само число делится на 3.
                Число 156879 делится на 3, так как 1+5+6+8+7+9=36 делится на 3.</li>
                <li><b>Признак делимости на 4.</b> Если в записи числа последние две цифры образуют число, которое делится на 4, то такое число делится на 4.
                Число 362836 делится на 4, так как последние 2 цифры образуют число 36, которое делятся на 4.</li>
                <li><b>Признак делимости на 5.</b> Если запись числа оканчивается на цифру либо 0, либо 5, такое число делится на 5.</li>
                <li><b>Признак делимости на 6.</b> Если число делится на 2 и на 3 одновременно, то оно делится на 6.</li>
                <li><b>Признак делимости на 8.</b> Если в записи числа последние три цифры образуют число, которое делится на 8, то такое число делится на 8.
                Число 12586023064 делится на 8, так как последние 3 цифры образуют число 64, которое делятся на 8.</li>            
                <li><b>Признак делимости на 9.</b> Этот признак делимости похож на 3. Если сумма цифр делится на 9, то и само число делится на 9.</li>
                <li><b>Признак делимости на 10.</b> Если число оканчивается на 0 то, оно делится на 10.</li>
                <li><b>Признак делимости на 25.</b> Если в записи числа последние две цифры нули или образуют число, которое делится на 25, то такое число делится на 25.</li>
            </ul>
        </div>
    <!-- {% else %}
        <p>У вас нет статей</p>
    {% endif %} -->
    <p>{% block grade %}{% endblock %}</p>
</div>
{% endblock %}