{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<div class="grades-container">
  <div class="grade"><a href="#">5 класс</a></div>
  <div class="grade"><a href="#">6 класс</a></div>
  <div class="grade"><a href="#">7 класс</a></div>
  <div class="grade"><a href="#">8 класс</a></div>
  <div class="grade"><a href="#">9 класс</a></div>
  <div class="grade"><a href="#">10 класс</a></div>
  <div class="grade"><a href="#">11 класс</a></div>
  <div class="grade"><a href="#">Библиотека</a></div>
</div>
{% endblock %}